# Program files
tcpeek

# Config files

# Object files
*.o
*.ko
*.obj
*.elf
*.dSYM

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Autotolls files
.deps
Makefile
Makefile.in
/autom4te.cache
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# Other files
*.swp
